.btn {
  padding: rem(8) rem(16);
  background-color: color('primary');
  border: rem(1) solid color('primary');
  border-radius: rem(4);
  color: color('white');
  font-family: $body-font-family;
  font-size: rem($body-font-size);
  line-height: 1;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: lighten(color('primary'), 10%);
    border-color: lighten(color('primary'), 10%);
  }
}
