h1,
h2,
h3,
h4,
h5,
h6 {
  margin: rem(16) 0;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
}

h1 { font-size: rem($h1-font-size); }
h2 { font-size: rem($h2-font-size); }
h3 { font-size: rem($h3-font-size); }

// Headings 5 and 6 headings are not a priority. Let them share heading 4 styles.
h4,
h5,
h6 { font-size: rem($h4-font-size); }

p {
  margin: rem(16) 0;
}
